<h2>Записаться</h2>

<form action="/visit" method="POST">
  <div class="form-group">
    <label >Ваше имя</label>
    <input type="text" class="form-control" name = "username" aria-describedby="emailHelp" placeholder = "Введите ваше имя">
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>